# Backend
# --------------------
# SQLAlchemy==2.0.0 # https://github.com/sqlalchemy/sqlalchemy
moviepy
ffmpeg-python

# Frontend
# --------------------
# streamlit==1.17.0 # https://github.com/streamlit/streamlit
